.search {
	display: flex;
	align-items: center;
	position: relative;
	flex: 1;
}

.search__input {
	width: 100%;
	border-radius: 24px;
	border: 1px solid transparent;
	outline: none;
	padding: 13px 20px;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	caret-color: #0000ff;
	margin-bottom: 10px;
}
.search__input:focus {
	background: #FFFFFF;
	border: 1px solid #0000ff;
}

.search__input::placeholder {
	color: #7b8e98;
}